<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        List User
    </title>
    <th:block th:replace="~{admin/fragments/css_js :: styles}"></th:block>
</head>
<body class="g-sidenav-show  bg-gray-200">
<th:block th:replace="~{admin/fragments/header :: header_admin}"></th:block>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <th:block th:replace="~{admin/fragments/navbar :: navbar}"></th:block>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Add post</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <form action="#" th:action="@{/post/save-post}" th:object="${post}" method="post" novalidate="novalidate">
                                <div class="container">
                                    <hr>
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{createAt}"/>
                                    <input type="hidden" name="updateAd" th:field="${localDateTime}"/>
                                    <label for="title"><b>Title</b></label>
                                    <input type="text" class="form-control border" placeholder="Enter title" name="title"
                                           id="title" th:field="*{title}" required>
                                    <br>
                                    <label for="content"><b>Content</b></label>
                                    <textarea  class="form-control border" placeholder="Enter content" name="content"
                                               id="content" th:field="*{content}" required></textarea>
                                    <br>
                                    <label for="tags">Tag</label>
                                    <select name="tags" id="tags" class="form-control border">
                                        <option
                                                th:each="tag:${tags}"
                                                th:text="${tag.name}"
                                                th:value="${tag.id}"
                                                th:selected="${tag.getId()}"></option>
                                    </select>
                                    <label for="categories">Category</label>
                                    <select name="categories" id="categories" th:field="*{cateSelected}" class="form-control border">
                                        <option
                                                th:each="category:${categories}"
                                                th:text="${category.name}"
                                                th:value="${category.id}"
                                                th:field="*{cateSelected}"></option>
                                    </select>
                                    <hr>
                                    <button type="submit" class="btn btn-dark text-white">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{admin/fragments/footer :: footer_admin}"></th:block>
</main>
<th:block th:replace="~{admin/fragments/css_js :: scripts}"></th:block>
</body>
</html>