<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="admin/fragments/css_js :: styles"></th:block>
</head>
<body>
<th:block th:fragment="footer_admin">
    <footer class="footer py-4  ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        copyright© <script>
                        document.write(new Date().getFullYear())
                    </script>,
                        made with <i class="fa fa-heart"></i> by
                        <a href="https://huyhieu.tokyo/" class="font-weight-bold" target="_blank">Nguyen Phan Huy Hieu</a>
                        for a better web.
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://www.facebook.com/huyhieu.nguyenphaz" class="nav-link text-muted" target="_blank">Huy Hieu</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/huyhieu.nguyenphaz" class="nav-link text-muted" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/huyhieu.nguyenphaz" class="nav-link text-muted" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/huyhieu.nguyenphaz" class="nav-link pe-0 text-muted" target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>
<th:block th:replace="admin/fragments/css_js :: scripts"></th:block>
</body>
</html>